<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/rps_style.css">
        <title>Rock Paper Scissors</title>
    </head>
    <body>
        <div class = 'container'>
            <h1>Rock Paper Scissors</h1>

            <h3>Player 1, choose</h3>
        </div>
    </body>
</html>
