<html>
    <head>
        <title>Rock Paper Scissors One Player game results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class='jumbotron'>
            <h1>{{ results[1] }}</h1>
            </div>
            {% if results[1] == 'Tie'  %}
                <h3>It is a tie</h3>
                {% else %}
                <h3>Congratulations!</h3>
            {% endif %}

            <h3>Computer chose: {{ results[0] }}</h3>
            <h3>Player chose: {{ results[2] }}</h3>
            <p><a href='/'>Play two player!</a></p>
            <p><a href='/one_player'>Play again!</a></p>

        </div>
    </body>
</html>
