<html>
    <head>
        <title>Rock Paper Scissors game results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>See who won the game!</h1>
            <h3>{{ results }}</h3>
            <p><a href='/'>Play again!</a></p>

        </div>
    </body>
</html>
