<html>
    <head>
        <title>Rock Paper Scissors game results</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class='jumbotron'>
            <h1>{{ results }}</h1>
        </div>
        {% if results == 'Tie'  %}
            <p>It is a tie</p>
            {% else %}
            <h3>Congratulations!</h3>
        {% endif %}
            <p><a href='/'>Play again!</a></p>

        </div>
    </body>
</html>
